<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Administor">
<!-- 주택담보 대출 매핑 -->
  <resultMap type="RecommendLoan" id="RecommendLoan">
		<id property="RL_NUM" column="RL_NUM"/>
		<result property="RL_IMG" column="RL_IMG"/>
		<result property="RL_URL" column="RL_URL"/>
		<result property="DCLS_MONTH" column="DCLS_MONTH"/>
		<result property="KOR_CO_NM" column="KOR_CO_NM"/>
		<result property="FIN_PRDT_NM" column="FIN_PRDT_NM"/>
		<result property="LEND_RATE_TYPE_NM" column="LEND_RATE_TYPE_NM"/>
		<result property="RPAY_TYPE_NM" column="RPAY_TYPE_NM"/>
		<result property="ERLY_RPAY_FEE" column="ERLY_RPAY_FEE"/>
		<result property="DLY_RATE" column="DLY_RATE"/>
		<result property="LOAN_LMT" column="LOAN_LMT"/>
	</resultMap>
	<!-- 전세자금 대출 매핑 -->
	<resultMap type="RecommendLoanCharter" id="recommendloancharter">
		<id property="RL_CH_NUM" column="RL_CH_NUM"/>
		<result property="RL_CH_CATEGORY" column="RL_CH_CATEGORY"/>
		<result property="RL_CH_IMG" column="RL_CH_IMG"/>
		<result property="RL_CH_URL" column="RL_CH_URL"/>
		<result property="DCLS_MONTH" column="DCLS_MONTH"/>
		<result property="KOR_CO_NM" column="KOR_CO_NM"/>
		<result property="FIN_PRDT_NM" column="FIN_PRDT_NM"/>
		<result property="LEND_RATE_TYPE_NM" column="LEND_RATE_TYPE_NM"/>
		<result property="RPAY_TYPE_NM" column="RPAY_TYPE_NM"/>
		<result property="ERLY_RPAY_FEE" column="ERLY_RPAY_FEE"/>
		<result property="DLY_RATE" column="DLY_RATE"/>
		<result property="LOAN_LMT" column="LOAN_LMT"/>
	</resultMap>
	<!-- 신용 대출 매핑 -->
	<resultMap type="RecommendLoanCredit" id="recommendloancredit">
  	<id property="RL_CR_NUM" column="RL_CR_NUM"/>
  	<result property="RL_CR_IMG" column="RL_CR_IMG"/>
  	<result property="RL_CR_URL" column="RL_CR_URL"/>
  	<result property="DCLS_MONTH" column="DCLS_MONTH"/>
  	<result property="KOR_CO_NM" column="KOR_CO_NM"/>
  	<result property="CRDT_PRDT_TYPE_NM" column="CRDT_PRDT_TYPE_NM"/>
  	<result property="CRDT_GRAD_1" column="CRDT_GRAD_1"/>
  	<result property="CRDT_GRAD_4" column="CRDT_GRAD_4"/>
  	<result property="CRDT_GRAD_5" column="CRDT_GRAD_5"/>
  	<result property="CRDT_GRAD_6" column="CRDT_GRAD_6"/>
  	<result property="CRDT_GRAD_10" column="CRDT_GRAD_10"/>
  	<result property="CRDT_GRAD_12" column="CRDT_GRAD_12"/>
  	<result property="CRDT_GRAD_13" column="CRDT_GRAD_13"/>
  	<result property="CRDT_GRAD_AVG" column="CRDT_GRAD_AVG"/>
  </resultMap>
	
	
	<!-- 주택 담보 정보 조회 -->
	<select id="recommendLoan" resultMap="RecommendLoan">
	select * from RECOMMEND_LOAN
	</select>
	
	<!-- 전세자금 정보 조회 -->
	<select id="recommendLoanCharterList" resultMap="recommendloancharter">
	select * from RECOMMEND_LOAN_CHARTER
	</select>
	
	<!-- 신용 대출 정보 조회 -->
	<select id="recommendLoanCreditList" resultMap="recommendloancredit">
	select * from RECOMMEND_LOAN_CREDIT
	</select>
	
	<!-- 주택 담보 수정 상세 정보 조회 -->
	<select id="recommendLoanDetail" parameterType="int" resultMap="RecommendLoan">
	select * from RECOMMEND_LOAN where RL_NUM=#{NUM}
	</select>
	
	<!-- 전세자금 수정 상세 정보 조회 -->
	<select id="recommendLoanCharterListDetail" parameterType="int" resultMap="recommendloancharter">
	select * from RECOMMEND_LOAN_CHARTER where RL_CH_NUM=#{NUM}
	</select>
	
	<!-- 신용 대출 수정 상세 정보 조회 -->
	<select id="recommendLoanCreditListDetail" parameterType="int" resultMap="recommendloancredit">
	select * from RECOMMEND_LOAN_CREDIT where RL_CR_NUM=#{NUM}
	</select>
	
	<!-- 페이지별 모든 대출 정보 조회 -->
	<select id="selectList" resultMap="RecommendLoan">
	select * from RECOMMEND_LOAN
	</select>
	
	<!-- RECOMMEND_LOAN 대출 정보 totalCount -->
	<select id="loanCount" resultType="int">
	select count(*) from RECOMMEND_LOAN
	</select>
	
	<!-- RECOMMEND_LOAN_credit 대출 정보 totalCount -->
	<select id="loancreditCount" resultType="int">
	select count(*) from RECOMMEND_LOAN_credit
	</select>
	
	<!-- RECOMMEND_LOAN_charter 대출 정보 totalCount -->
	<select id="loancharterCount" resultType="int">
	select count(*) from RECOMMEND_LOAN_charter
	</select>
	
	<!-- 카테고리별 대출 정보 조회 -->
	<select id="listAdminCategory" resultMap="RecommendLoan">
		
	</select>
	
	<!-- 주택담보 대출 정보 추가 -->
	<insert id="guarInsert" parameterType="RecommendLoan">
	insert into  recommend_loan
	values(RECOMMEND_LOAN_SEQ.nextval, #{RL_IMG}, #{RL_URL}, #{DCLS_MONTH}, 
	#{KOR_CO_NM}, #{FIN_PRDT_NM},#{LEND_RATE_TYPE_NM},#{RPAY_TYPE_NM},#{ERLY_RPAY_FEE},#{DLY_RATE},#{LOAN_LMT} )
	</insert>
	
	<!-- 신용 대출 정보 추가 -->
	<insert id="creditInsert" parameterType="recommendloancredit">
	insert into recommend_loan_credit
	values(RECOMMEND_LOAN_CREDIT_SEQ.nextval,#{DCLS_MONTH},#{KOR_CO_NM},#{CRDT_PRDT_TYPE_NM},#{CRDT_GRAD_1},
	#{CRDT_GRAD_4},#{CRDT_GRAD_5},#{CRDT_GRAD_6},#{CRDT_GRAD_10},#{CRDT_GRAD_12},#{CRDT_GRAD_13},
	#{CRDT_GRAD_AVG},#{RL_CR_IMG},#{RL_CR_URL})
	</insert>
	
	<!-- 전세자금 대출 정보 추가 -->
	<insert id="geonInsert" parameterType="recommendloancharter">
	insert into  recommend_loan_charter
	values(RECOMMEND_LOAN_CHARTER_SEQ.nextval, #{RL_CH_IMG}, #{RL_CH_URL}, #{DCLS_MONTH}, 
	#{KOR_CO_NM}, #{FIN_PRDT_NM},#{LEND_RATE_TYPE_NM},#{RPAY_TYPE_NM},#{ERLY_RPAY_FEE},#{DLY_RATE},#{LOAN_LMT} )
	</insert>
	
	<!-- 주택담보 대출 정보 삭제 -->
	<delete id="deleteLoan" parameterType="int">
	delete from recommend_loan where RL_NUM=#{RL_NUM}
	</delete>
	
	<!-- 신용 대출 정보 삭제 -->
	<delete id="deleteCredit" parameterType="int">
	delete from recommend_loan_credit where rl_cr_num=#{RL_CR_NUM}
	</delete>
	
	<!-- 전세자금 대출 정보 삭제 -->
	<delete id="deleteCharter" parameterType="int">
	delete from recommend_loan_charter where RL_CH_NUM=#{RL_CH_NUM}
	</delete>
	
	<update id="updateLoan" parameterType="RecommendLoan">
	update recommend_loan
	set
	RL_IMG=${RL_IMG}, RL_URL=${RL_URL}, DCLS_MONTH=${DCLS_MONTH}, KOR_CO_NM=${KOR_CO_NM},
	FIN_PRDT_NM=${FIN_PRDT_NM}, LEND_RATE_TYPE_NM=${LEND_RATE_TYPE_NM}, RPAY_TYPE_NM=${RPAY_TYPE_NM}, 
	ERLY_RPAY_FEE=${ERLY_RPAY_FEE},
  	DLY_RATE=${DLY_RATE}, LOAN_LMT=${LOAN_LMT}
  	where RL_NUM=${RL_NUM}
	</update>
</mapper>