<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Member">	

	<select id="memberlist" resultType="Member">
		select * from member
	</select>
	
	<select id="memberCount" resultType="int">
	select count(*) from member
	</select>
	
	<insert id="insertMember" parameterType="Member" statementType="PREPARED">
		INSERT INTO MEMBER VALUES
		(#{m_id}, #{m_pwd}, #{m_name}, #{m_email})
	</insert>
	
	<select id="checkOverId" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE M_ID = #{m_id}
	</select>
	
	<select id="idCheck" parameterType="String" resultType="int">
		select count(member_id) from member where member_id = #{id}
	</select>
	
	<insert id="joinMember" parameterType="Member">
		INSERT INTO MEMBER
		VALUES (#{m_id}, #{m_pwd}, #{m_name}, #{m_email}, #{m_phn}, #{m_gender}, #{m_age},
		#{m_job}, #{m_address}, #{m_asset}, #{m_debt}, #{m_car}, #{m_house})
	</insert>
	
	<select id="login" parameterType="Member" resultType="Member">
		SELECT *
		FROM MEMBER
		WHERE M_ID = #{m_id}
		AND M_PWD = #{m_pwd}
	</select>
	
	<!-- 아이디 -->
	<select id="findId" parameterType="Member">
		select m_id from member
		where m_name = #{m_name} and m_email=#{m_email}
	</select>
	
	<!-- 비밀번호 -->
	<select id="findPwd" parameterType="Member">
		select m_pwd from member
		where m_name = #{m_name} and m_email=#{m_email}
	</select>
	
	<!-- 마이페이지 -->
	<select id="myPage" parameterType="Member" resultType="Member">
		SELECT M_ID, M_NAME, M_PHN, M_AGE, M_EMAIL,
		M_GENDER, M_JOB, M_ADDRESS, M_ASSET,
		M_DEBT, M_CAR, M_HOUSE
		FROM MEMBER
		WHERE M_ID = #{m_id}
	</select>

	<!-- 회원정보 수정 -->
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER SET
		M_PHN = #{m_phn},
		M_EMAIL = #{m_email},
		M_JOB = #{m_job},
		M_ADDRESS = #{m_address},
		M_ASSET = #{m_asset},
		M_DEBT = #{m_debt},
		M_CAR = #{m_car},
		M_HOUSE = #{m_house}
		WHERE M_ID = #{m_id}
	</update>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePwd" parameterType="Member">
		UPDATE MEMBER SET
		M_PWD = #{m_pwd}
		WHERE M_ID = #{m_id}
	</update>
	
	<!-- 회원 탈퇴 -->
	<delete id="deleteMember" parameterType="string" statementType="PREPARED">
		DELETE FROM MEMBER
		WHERE M_ID = #{m_id}
	</delete>
</mapper>
