<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Question">
	<resultMap type="Question" id="questionRM">
		<id property="QUESTION_NUM" column="QUESTION_NUM"/>
		<result property="QUESTION_TITLE" column="QUESTION_TITLE"/>
		<result property="QUESTION_CONTENT" column="QUESTION_CONTENT"/>
	</resultMap>
	
	<select id="questionList" resultMap="questionRM">
		select * from QUESTION
	</select>
	
	<!-- 질문공지 갯수 -->
	<select id="questionCount" resultType="int">
		select count(*) from QUESTION
	</select>
	
	<select id="listQuestion" resultType="arraylist" resultMap="questionRM">
		select * from QUESTION order by QUESTION_NUM
	</select>
	
	
	<select id="selectList" resultMap="questionRM">
		select * from QUESTION order by QUESTION_NUM
	</select>
	
	
	<select id="questionDt" parameterType="int" resultMap="questionRM">
		select * from QUESTION where QUESTION_NUM = #{QUESTION_NUM}
	</select>
	
	<insert id="insertQuestion" parameterType="Question">
		insert into QUESTION (QUESTION_NUM, QUESTION_TITLE, QUESTION_CONTENT) 
		values (question_seq.nextval,#{QUESTION_TITLE},#{QUESTION_CONTENT})
	</insert>
	
	<update id="updateQuestion">
		update QUESTION set QUESTION_TITLE=#{QUESTION_TITLE}, QUESTION_CONTENT=#{QUESTION_CONTENT}
		where QUESTION_NUM=#{Q_NUM}
	</update>
	
	<delete id="deleteQuestion" parameterType="Question">
		delete from QUESTION where QUESTION_NUM=#{QUESTION_NUM}
	</delete>
</mapper>