<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Question">
	<resultMap type="Question" id="questionRM">
		<id property="Q_NUM" column="QUESTION_NUM"/>
		<result property="Q_TITLE" column="QUESTION_TITLE"/>
		<result property="Q_CONTENT" column="QUESTION_CONTENT"/>
		<result property="Q_IMG" column="QUESTION_IMG"/>
	</resultMap>
	<!-- 질문게시판 -->
	<select id="selectQuestion" resultMap="questionRM">
		select * from QUESTION order by QUESTION_NUM desc
	</select>
	<select id="selectViewQuestion" resultType="com.mycompany.loanplan.question.Question">
		select * from QUESTION where QUESTION_NUM = #{QUESTION_NUM}
	</select>
	<insert id="insertQuestion">
		insert into QUESTION (QUESTION_NUM, QUESTION_TITLE, QUESTION_CONTENT) 
		values ((select NVL(MAX(QUESTION_NUM)+1, 1)from QUESTION), #{QUESTION_TITLE},#{QUESTION_CONTENT})
	</insert>
	<update id="updateQuestion">
		update QUESTION set QUESTION_NUM=?, QUESTION_TITLE=?, QUESTION_CONTENT=?
		where QUESTION_NUM=?
	</update>
	<delete id="deleteQuestion">
		delete from QUESTION where QUESTION_NUM=?
	</delete>
</mapper>