<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RecommendLoanCreditReview">
	<resultMap id="resultRecommendLoanCreditReview" type="RecommendLoanCreditReview">
		<id property="RLR_NUM" column="RLR_NUM"/>
		<result property="RLR_AST" column="RLR_AST"/>
		<result property="RLR_COMMENT" column="RLR_COMMENT"/>
		<result property="RL_CR_NUM" column="RL_CR_NUM"/>
		<result property="M_ID" column="M_ID"/>
	</resultMap>
	
	<!-- 해당 대출에 대한 리뷰 리스트 조회 -->
	<select id="listRecommendLoanCreditReview" parameterType="string" resultType="arraylist" resultMap="resultRecommendLoanCreditReview">
		select * from RECOMMEND_LOAN_CR_REVIEW where RL_CR_NUM = #{RL_CR_NUM}
	</select>
	
	<!-- 리뷰 단일 조회 -->
	<select id="selectRecommendLoanCreditReview" parameterType="string" resultMap="RecommendLoanCreditReview">
		select * from RECOMMEND_LOAN_CR_REVIEW where M_ID = #{M_ID}
	</select>
	
	<!-- 리뷰 입력 -->
	<insert id="insertRecommendLoanCreditReview" parameterType="RecommendLoanCreditReview" flushCache="true" statementType="PREPARED" timeout="20">
		insert into RECOMMEND_LOAN_CR_REVIEW (RLR_NUM, RLR_AST, RLR_COMMENT, RL_CR_NUM, M_ID)
		values ((select NVL(MAX(RLR_NUM)+1, 1)from RECOMMEND_LOAN_REVIEW), #{RLR_AST}, #{RLR_COMMENT}, #{RL_CR_NUM}, #{M_ID})
	</insert>
	
	<!-- 리뷰 수정 -->
	<select id="updateRecommendLoanCreditReview" parameterType="RecommendLoanCreditReview" flushCache="true" statementType="PREPARED" timeout="20">
		update RECOMMEND_LOAN_CR_REVIEW set RLR_COMMENT = #{RLR_COMMENT}
		where M_ID = #{M_ID}
	</select>
	
	<!-- 리뷰 삭제 -->
	<delete id="deleteRecommendLoanCreditReview" parameterType="RecommendLoanCreditReview" flushCache="true" statementType="PREPARED" timeout="20">
		delete from RECOMMEND_LOAN_CR_REVIEW
		where M_ID = #{M_ID}
	</delete>

</mapper>