<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RecommendLoanCharter">
	<resultMap type="RecommendLoanCharter" id="recommendloancharterRM">
		<id property="RL_CH_NUM" column="RL_CH_NUM"/>
		<result property="RL_CH_CATEGORY" column="RL_CH_CATEGORY"/>
		<result property="RL_CH_IMG" column="RL_CH_IMG"/>
		<result property="RL_CH_URL" column="RL_CH_URL"/>
		<result property="DCLS_MONTH" column="DCLS_MONTH"/>
		<result property="KOR_CO_NM" column="KOR_CO_NM"/>
		<result property="FIN_PRDT_NM" column="FIN_PRDT_NM"/>
		<result property="LEND_RATE_TYPE_NM" column="LEND_RATE_TYPE_NM"/>
		<result property="RPAY_TYPE_NM" column="RPAY_TYPE_NM"/>
		<result property="ERLY_RPAY_FEE" column="ERLY_RPAY_FEE"/>
		<result property="DLY_RATE" column="DLY_RATE"/>
		<result property="LOAN_LMT" column="LOAN_LMT"/>
	</resultMap>
	
	<!-- recommendloanlist -->
	<select id="listRecommendLoanCharter" resultType="arraylist" resultMap="recommendloancharterRM">
		select * from RECOMMEND_LOAN_CHARTER order by RL_CH_NUM
	</select>
	
</mapper>