<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.mycompany.loanplan.admin.model.vo.Administor" alias="Administor"/>
		<typeAlias type="com.mycompany.loanplan.admin.model.vo.Advertise" alias="Advertise"/>
		<typeAlias type="com.mycompany.loanplan.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.mycompany.loanplan.loan.model.vo.RecommendLoan" alias="RecommendLoan"/>
		<typeAlias type="com.mycompany.loanplan.loan.model.vo.RecommendLoanCharter" alias="RecommendLoanCharter"/>
		<typeAlias type="com.mycompany.loanplan.loan.model.vo.RecommendLoanCredit" alias="RecommendLoanCredit"/>
		<!-- <typeAlias type="com.mycompany.loanplan.loan.model.vo.RecommendLoanReview" alias="RecommendLoanReview"/> -->
		
	</typeAliases>
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/advertise-mapper.xml"/>
		<mapper resource="mappers/recommendloan-mapper.xml"/>
		<mapper resource="mappers/recommendloancharter-mapper.xml"/>
		<mapper resource="mappers/recommendloancredit-mapper.xml"/>
		<!-- <mapper resource="mappers/recommendloanreview-mapper.xml"/> -->
	</mappers>
</configuration>