@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
}

a {
	text-decoration: none;
	 color: black;
}

table, td, th {
    border : 1px solid black;
    border-collapse : collapse;
    padding: 0.5rem;
}

table {
	width:100rem;
}

header {
    width: 100%;
    height: 100px;
    background-color: #59ab6e;
    display: flex;
    justify-content: space-between;
}

header .logo {
    padding: 1rem;
}

header .admin {
    padding: 1rem;
    padding-right: 4rem;
}

.body {
    display: flex;
    height: 1000px;
}

.body .navbar {
	width: 20rem;
    background-color: #59ab6e;
}

.body .navbar .navbarItem {
    padding: 1rem 0;
    text-align: center;
    cursor: pointer;
}

.body .navbar .navbarItem:hover {
    background-color: white;
}

.body .content {
   width: 100%;
   padding: 0 1rem;
}

.body .content .tableBox {
    margin: auto;
}

.body .content .listTitle {
    text-align: center;
    padding: 3rem 0;
}

.body .content .searchBox {
    width: 100%;
    text-align: right;
    padding-right: 11rem;
    margin-bottom: 1rem;
}

.body .content .addBtn {
    width: 100%;
    text-align: right;
    margin-bottom: 1rem;
    width: fit-content;
    border: 1px solid black;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.body .content .loanBox1 {
	cursor: pointer;
}

.body .content .loanBox1:hover {
	background-color: grey;
}

.body .content .deleteBtn {
	cursor: pointer;
}

.body .content .button {
    margin-left: 93rem;
}

.body .content .button div {
    display: inline-block;
    width: fit-content;
    border: 1px solid black;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1rem;
}