@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table, td, th {
    border : 1px solid black;
    border-collapse : collapse;
    padding: 0.5rem;
}

a {
	text-decoration: none;
	color: black;
}

table {
	width: 80rem;
}

input {
	height:40px;
	text-align: center;
}

ul,li{
    list-style: none;
}

input {
	height:40px;
	text-align: center;
}

header {
    width: 100%;
    height: 100px;
    background-color: #59ab6e;
    display: flex;
    justify-content: space-between;
}

header .logo {
    padding: 1rem;
}

header .admin {
    padding: 1rem;
    padding-right: 4rem;
}

.body {
    display: flex;
    height: 900px;
}

.body .navbar {
    width: 20rem;
    background-color: #59ab6e;
}

.body .navbar .navbarItem {
    padding: 1rem 0;
    text-align: center;
    cursor: pointer;
}

.body .navbar .navbarItem:hover {
    background-color: white;
}

.body .content {
    width: 100%;
    padding: 0 1rem;
}

.body .content .title {
	text-align: center;
    padding: 3rem 0;
    margin-bottom: 1rem;
}

.body .content .tableBox {
	display:block;
  	margin-left: 18.5rem;
}

.body .content .addBtn {
    width: 100%;
    text-align: right;
    padding-right: 9rem;
    margin-bottom: 1rem;
}

