@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

table, td, th {
    padding: 0.5rem;
}

input {
    width: 100%;
	height:40px;
	text-align: center;
}

ul,li{
    list-style: none;
}

input {
	height:40px;
	text-align: center;
}

header {
    width: 100%;
    height: 100px;
    background-color: #59ab6e;
    display: flex;
    justify-content: space-between;
}

header .logo {
    padding: 1rem;
}

header .admin {
    padding: 1rem;
    padding-right: 4rem;
}

.body {
    display: flex;
    height: 900px;
}

.body .navbar {
    width: 20rem;
    background-color: #59ab6e;
}

.body .navbar .navbarItem {
    padding: 1rem 0;
    text-align: center;
    cursor: pointer;
}

.body .navbar .navbarItem:hover {
    background-color: white;
}

.body .content {
    width: 100%;
    padding: 0 1rem;
}

.body .content .title {
    width: 50%;
    margin: 5rem 50rem;
}
.body .content .tableBox {
    width: 100%;
    padding: 0 35rem;
}

.addBtn {
    border: 1px solid black;
    width: 50px !important;
    padding: 0.5rem;
    cursor: pointer;
    margin-left: 30rem;
    border-radius: 5px;
    background-color: #59ab6e;
}
