@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

ul,li{
    list-style: none;
}

input {
	height:40px;
	text-align: center;
}

header {
    width: 100%;
    height: 100px;
    background-color: #59ab6e;
    display: flex;
    justify-content: space-between;
}

header .logo {
    padding: 1rem;
    margin-top:0;
}

header .admin {
    padding: 1rem;
    padding-right: 4rem;
}

.body {
    display: flex;
    height: 1200px;
}

.body .navbar {
    width: 20rem;
    background-color: #59ab6e;
}

.body .navbar .navbarItem {
    padding: 1rem 0;
    text-align: center;
    cursor: pointer;
}

.body .navbar .navbarItem:hover {
    background-color: white;
}

.body .content {
    width: 100%;
    padding: 0 1rem;
}

.body .content .title {
    width: 50%;
    margin: 0 50rem;
    padding: 2rem 0;
}

.body .content .button {
    margin-left: 70rem;
}

.body .content .button div {
    display: inline-block;
    width: fit-content;
    border: 1px solid black;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.body .content .inputBox {
    width: 80%;
    padding: 5rem 0;
    margin: 0 10rem;

}

.body .content .inputBox table {
    width: 80%;
 
    margin: 0 auto;
}

.body .content .credit_inputBox input,
.body .content .guar_inputBox input,
.body .content .jeon_inputBox input  {
    width: 100%;
}

.addBtn {
    border: 1px solid black;
    width: 50px !important;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 85rem;
    background-color: #59ab6e;
}

